.name{
  font-family: 'Bitter', serif;
  text-align: left;
  font-size: 25px;
  padding-top: 3%;
  color: white;
}
.contactinfo{
  text-align: center;
  padding-top: 40%;
  bottom: auto;
}


p{
  color: black;
  font-size: 20px;
  font-family: 'Balsamiq Sans', cursive;
}
img{
  max-height: 65px;
}
html{
  background: url(bg1.jpg);
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.button{
  text-align: center;
 padding-bottom: 5%;
}
